<p>booking room works!</p>
<!-- examlpe -->

<div class="container">
  <div class="room-details">
    <p>Room price: R 5 600</p>
    <p>Deluxe Room</p>
    <p>Capacity: 4</p>
  </div>
  <form [formGroup]="roomBookingForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="checkInDate">Check In Date:</label>
      <input
        id="checkInDate"
        formControlName="checkInDate"
        type="datetime-local"
      />
      <div *ngIf="f.checkInDate.touched && f.checkInDate.invalid">
        <small *ngIf="f.checkInDate.errors?.['required']"
          >Check-in date is required</small
        >
      </div>
    </div>

    <div>
      <label for="checkOutDate">Check Out Date:</label>
      <input
        id="checkOutDate"
        formControlName="checkOutDate"
        type="datetime-local"
      />
      <div *ngIf="f.checkOutDate.touched && f.checkOutDate.invalid">
        <small *ngIf="f.checkOutDate.errors?.['required']"
          >Check-out date must specified</small
        >
      </div>
    </div>

    <div *ngIf="isPopUp" class="pop-up-msg">
      {{ popUpMsg }}
    </div>

    <button type="submit" [disabled]="roomBookingForm.invalid">
      Confirm Booking
    </button>

    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
