<p>room details works!</p>


 <div class="container">
  <div class="product">
    <img [src]="" alt="Image here!"/>
    <p>Room 5</p>
    <p>Three Bedroom Royal Suite</p>
    <p>R 5 400</p>
    <p>Deluxe Standard</p>
    <p>2 king beds and 2 twin beds. 6 adults, or 4 adults and 2 children...Wifi....TV</p>
  </div>
</div>

<!-- 4admin example -->
 <!-- <div class="container">
  <div class="product">
    <img [src]="product.image"/>
    <p>{{ product.id }}</p>
    <p>{{ product.title }}</p>
    <p>R {{ product.price }}</p>
    <p>{{ product.category }}</p>
    <p>{{ product.description }}</p>
  </div>
</div> -->
